/* Responsive BreakPoint */

/* Ukuran Table  */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}


/* Ukuran Mobile */
@media screen and (max-width: 576px) {
  body {
    overflow-x: visible;
  }

  nav h1 {
    margin-left: -50px;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .9);
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }

  .content {
    display: inherit;
    /* padding: 10px/; */
    text-align: center;
    margin-top: 100px;
  }

  .content .judul {
    margin: auto;
  }

  .content .judul h1 span, .content .judul p {
    font-size: .8em;
  }

  .about-container {
    position: relative;
    display: inherit;
    margin: auto;
    padding-top: 30px;
  }

  .image-about {
    margin-left: -80px;
    position: absolute;
    left: -60px;
    margin-bottom: 13px;
  }

  .img-wrapper {
    width: max-content;
    margin: auto;
  }

  .image-about img {
    width: 100%;
  }

  .about {
    position: absolute;
    top:  250px;
    left: 50px;
  }

  .about h4, .about p {
    font-size: .8em;
  }

  #skill {
    height: fit-content;
  }

  .skill-container {
    padding-top: 10px;
    margin-left: -20px;
    margin-top: -50px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .skill-container .skill {
    width: 150px;
  }

  .skill img {
    width: 80px;
  }

  .skill-judul {
    /* padding-top: 0px; */
    transform: translateY(-60px);
  }
  
  #projects {
    height: fit-content;
  }

  .projects {
    /* margin-top: 200px; */
    display: inherit;
  }

  .content-projects {
    /* display: inherit; */
    grid-template-columns: repeat(1, 1fr);
  }

  .card-projects {
    /* margin-left: -25px; */
    width: fit-content;
    text-align: center;
  }

  .card-projects img {
    width: 100%;
  }

  .card-projects p {
    font-size: -7em;
  }
/* 
  .footer {
    margin-top: 1000px;
  } */
}